.button {
    width: 100%;
    height: 100%;
    padding: 4px;
    color: #ffffff;
    background: #222;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.moduleBorderWrap {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 3px;
    background: linear-gradient(to right, red, rgb(255, 0, 255));
    // margin: 10px;
    border-radius: 5px;

}


@media (max-width: 360px) {


}