.button {
    width: 100%;
    padding: 4px;
    color: #ffffff;
    background: #222;
    border: none;
    
}

.moduleBorderWrap {
    display: flex;
    justify-content: center;
    position: relative;
    width: 150px;
    padding: 3px;
    background: linear-gradient(to right, red, rgb(255, 0, 255));
    margin: 30px;
}