.wrapper {
    display: flex;
    flex-direction: column;
    // display: grid;
    width: 100%;

    .color {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .codeAndCopy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
        color: #ffffff;
        align-items: center;

        .code {
            padding: 4px;
        }

        .copyText {
            display: flex;
            gap: 4px;
            align-items: center;
            color: #ffffff;
            padding: 4px;
            font-size: 1rem;

            img {
                height: 20px;
            }
        }

        .copyText,
        .copyNoText {
            background-color: #212121;
            border: none;
            cursor: pointer;
        }
        .copyNoText {
            img {
                height: 20px;
            }
        }
    }
}

@media (max-width: 360px) {
    .color {
        gap: 1rem;

    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .wrapper {
        .codeAndCopy {
            font-size: 0.8rem;
            .copyNoText {
                font-size: 0.8rem;
    
                img {
                    height: 18px;
                }
            }
        }
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .wrapper {
        .codeAndCopy {
            font-size: 0.6rem;
            .copyNoText {
                font-size: 0.6rem;
    
                img {
                    height: 16px;
                }
            }
        }
    }
}
@media (min-width: 300px) and (max-width: 500px) {
    .wrapper {
        .codeAndCopy {
            font-size: 0.5rem;

            .code {
                padding: 0;
            }

            .copyNoText {
                font-size: 0.5rem;
    
                img {
                    height: 14px;
                }
            }
        }
    }
}

@media (max-width: 300px) {
    .wrapper {
        .codeAndCopy {
            font-size: 0.1rem;

            .code {
                padding: 0;
            }

            .copyNoText {
                font-size: 0.1rem;
    
                img {
                    height: 2px;
                }
            }
        }
    }
}