.homepage {
    margin: 30px;

    .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    h1 {
        font-size: 5rem;
        margin: 20px 20px 50px 20px;
        background: -webkit-linear-gradient(rgb(194, 26, 245), rgb(44, 192, 44));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.generateSave {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.infoText {
    text-align: center;
    color: white;
    font-size: 0.8rem;
}


.generateSaveMobile {
    display: none;
}


@media (max-width: 360px) {

    .generateSaveMobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .generateSave {
        display: none;
    }

    .homepage {

        h1 {
            font-size: 1.5rem;
            margin: 20px 0px;

        }

    }
}


@media (max-width: 500px) and (min-width: 360px) {

    .homepage {

        h1 {
            font-size: 2rem;
        }
    }
}