.savedPallets {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1000px;
    margin: auto;
}

.buttonsToTheSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.buttonsDownUnder {
    display: none;
}

.lineFull {
    width: 100%;
    margin-top: 30px;
}

.lineNone {
    display: none;
}


@media (max-width: 680px) {

    hr {
        display: none;
    }

        .savedPallets {
            padding: 20px;
        }

        .buttonsToTheSide {
            display: none;
        }


        .buttonsDownUnder {
            display: flex;
            flex-direction: row;
        }
}