.wrapper {
    display: flex;
    flex-direction: row;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
}



@media (max-width: 360px) {
    .wrapper {
        gap: 1rem;

    }
}

@media (min-width: 360px) and (max-width: 450px) {
    .wrapper {
        gap: 1rem;

    }
}